.Sidebar {
    background-color: #282c34;
    width: 180px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    color: white;
    height: calc(100vh - 60px);
}

.SidebarLink {
    color: white;
}

.Empty {
    flex-grow: 1;
}